<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <title>Test terminé !</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <meta name="author" content="Karim Morel - Développeur web" />
  <meta name="copyright" content="Morel Karim" />
  <meta name="creation_Date" content="12-02-2020" />
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Kosugi&display=swap" rel="stylesheet">

</head>
<body>
    <div id="content">
<h1>Fin du test</h1>

<a href="/">Configure the test</a>
<%if (numberofwords) { %>
<a href="/reboot/<%= language %>/<%= numberofwords %>">Reboot the test</a>
<a href="/redo/<%= language %>/<%= numberofwords %>">Retake the same test</a>
<% } else { %>
  <a href="/reboot/<%= language %>">Reboot le test</a>
  <% } %>
</div>

</body>
</html>
