<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <title>Construire le test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <meta name="author" content="Karim Morel - Développeur web" />
  <meta name="copyright" content="Morel Karim" />
  <meta name="creation_Date" content="12-02-2020" />

  <!-- Assets -->
  <link rel="stylesheet" href="/config.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<h1><%= words[0].name %> list</h1>

<div id="word-list">

    <table class="table table-stripped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th colspan="1">Asked Word</th>
                <th colspan="1">Answer</th>
                <th colspan="1">Good answer</th>
                <th colspan="1">Wrong answer</th>
                <th colspan="1">Average</th>
                <th colspan="1">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var key in words) { %>
                <% if(words[key].answered+words[key].failed == 0) { %>
                    <tr class="info">
                        <% } else if (words[key].answered/(words[key].answered+words[key].failed)*100 >= 80 && words[key].answered+words[key].failed >=5) { %>
                    <tr class="success">
                        <% } else if (words[key].answered/(words[key].answered+words[key].failed)*100 <= 40 && words[key].answered+words[key].failed >=5) { %>
                            <tr class="danger">
                    <% } else { %>
                    <tr>
                    <% } %>
                    <td><%= words[key].focused_language_translation %></td>
                    <td><%= words[key].main_language_translation %></td>
                    <td><%= words[key].answered %></td>
                    <td><%= words[key].failed %></td>
                    <% if(words[key].answered+words[key].failed != 0) { %>
                    <td><%= words[key].answered/(words[key].answered+words[key].failed)*100 %>%</td>
                    <% } else { %>
                    <td>Never asked</td>
                    <% } %>
                    <td><a href="/delete/<%= language %>/<%= words[key].id %>">Delete</a></td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>

<div id="block-add-word">
    <form action="/<%= language %>" method="post" class="form-add-translation"> 
        <label id="title-english-word"><%= words[0].name %></label>
        <input type="text" name="englishword" id="english-word" autofocus>
        <br/>
        <label id="title-french-word">French</label>
        <input type="text" name="frenchword" id="french-word">
        <br/>
        <input type="submit" id="submit-words">
    </form>
</div>

<a href="/test/<%= language %>">Take the <%= words[0].name %> test</a></br>
<a href="/languages">Configure languages</a>

</body>
</html>
