<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <title>Passer le test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script src="/jquery.js"></script>
  
  <meta name="author" content="Karim Morel - Développeur web" />
  <meta name="copyright" content="Morel Karim" />
  <meta name="creation_Date" content="12-02-2020" />

  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Kosugi&display=swap" rel="stylesheet">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="content">
        <div id="count-answers">
            <p id="count-correct-answers">Correct : <%= intCorrectAnswers %></p>
            <p id="count-wrong-answers">Wrong : <%= intWrongAnswers %></p>
        </div>
<h1>Test de vocabulaire anglais</h1>
<p class="count"> <%= arrRandomCount %> / <%= arrFullCount %> </p>

<h2><%= wordtoguess %></h2>

<div id="block-message"><%if (strGuess) { %>Wrong answer<% } %></div>

<div id="block-add-word">
    <form action="/response/<%= id %>/<%= language %>" method="get" class="form-add-translation" autocomplete="off"> 
        <input type="text" name="response" id="response" value="<%= strGuess %>" autofocus>
        <input type="checkbox" name="answerasked" id="answer-asked" style="display: none;"/>
        <br/>
        <input type="submit" id="submit-response">
        <br/>
    </form>
    <button id="button-ask-answer">
        Demander la réponse
    </button>
</div>

<div id="response-value" style="display: none;"><%= response %></div>

<a href="/">Configurer le test</a>
<%if (limited == true) { %>
    <a href="/reboot/<%= language %>/<%= numberofwords %>">Reboot le test</a>
    <% } else { %>
        <a href="/reboot/<%= language %>">Reboot le test</a>
        <% } %>
</div>
</body>
<script>
    var socket = io('http://localhost:8080');
    var id = <%= id %>;
    var language = "<%= language %>";

    $('#submit-response').click(function(){
        <%if (limited == true) { %>
        socket.emit('submit-answer-limited', {answer : $('#response').val(), id : id, language : language, boolanswerasked : $('#answer-asked').is(":checked"), numberofwords : <%= numberofwords %>});
        <% } else { %>
        socket.emit('submit-answer', {answer : $('#response').val(), id : id, language : language, boolanswerasked : $('#answer-asked').is(":checked")});
            <% } %>
        $('#block-message').html('');
        return false;
    });

    socket.on('good-answer', function (data) {
        $('#answer-asked').prop('checked', false);

        id = data.id;
        count = data.count;
        totalCount = data.total;

        if (language == "en")
        {
            strWordToGuess = data.focused_language_translation;
            strResponse = data.main_language_translation;
        }
        else if (language == "fr"){
        strWordToGuess = data.main_language_translation;
        strResponse = data.focused_language_translation
        }

        // Answers Count Update
        $('#count-correct-answers').html('Correct : '+data.intCorrectAnswers)
        $('#count-wrong-answers').html('Wrong : '+data.intWrongAnswers)

        // Html Update
        $('h2').html(strWordToGuess);
        $('#response').val('');
        $('.count').html(count + ' / ' + totalCount);
        $('#response-value').html(strResponse);
        $('#response').focus();
    });

    socket.on('wrong-answer', function () {
        $('#block-message').html('Wrong answer');
        $('#response').focus();
    });

    socket.on('end-of-the-quizz', function () {
        $('h2').html('Fin de la partie')
        $('#response').hide();
        $('.count').hide();
        $('#submit-response').hide();
        $('#button-ask-answer').hide();
    });
    
    $('#button-ask-answer').click(function(){
        $('#response').val($('#response-value').html());
        $('#answer-asked').prop('checked', true);
    });

</script>
</html>
